.imagem-desktop {
  width: 100%;
  overflow: hidden;
  display: block;
}

.imagem-mobile {
  display: none;
}

.imagem-tablet {
  display: none;
}

@media screen and (max-width: 1024px) {
  .imagem-desktop {
    display: none;
  }

  .imagem-mobile {
    display: none;
  }

  .imagem-tablet {
    display: block;
    overflow: hidden;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .imagem-desktop {
    display: none;
  }

  .imagem-tablet {
    display: none;
  }

  .imagem-mobile {
    display: block;
    width: 100%;
  }
}
