
.newsletter {
    width: 100vw;
    padding: 4em 0;
    display: flex;
    justify-content: center;
}

.newsletter__container {
    padding: 2em 1em;
    border: solid 2px;
    width: 50vw;
    text-align: center;
}

.newsletter__titulo {
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza-escuro);
    margin-bottom: 1em;
}

.newsletter__titulo-negrito {
    font-weight: bold;
}

.newsletter__email {
    border: solid 1px;
    width: 35em;
    padding: 0.8em 0;
}

.newsletter__email::placeholder {
    color: #6C757D;
    font-weight: 400;
    font-size: 16px;
    padding-left: 1em;
}

.newsletter__botao {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--lilas);
    color: var(--branco);
    padding: 0.85em 1.5em;
}

@media screen and (max-width: 768px) {

    .newsletter__container {
        width: 80vw;
    }

    .newsletter__titulo {
        padding: 0 2em;
        font-size: 20px;
        font-weight: 400;
    }

    .newsletter__email {
        width: 20em;
    }
}

@media screen and (max-width: 375px) {

    .newsletter {
        padding: 2em 0em;
    }

    .newsletter__container {
        padding: 1em 1em;
    }

    .newsletter__titulo {
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    .newsletter__email {
        width: 10em;
        padding: 0.5em 0;
    }

    .newsletter__botao {
        padding: 0.6em 1em;
    }
}